<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true"
         defaultTestSuite="alpdesk-core" bootstrap="vendor/autoload.php">
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
        <env name="SYMFONY_PATCH_TYPE_DECLARATIONS" value="deprecations=0"/>
        <env name="DISABLE_HTTP_CACHE" value="1"/>
        <env name="APP_SECRET" value="foobar"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value=""/>
    </php>
    <testsuites>
        <testsuite name="alpdesk-core">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="coverage">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
