services:

  _defaults:
    autoconfigure: true
    autowire: true

  alpdeskcore.routing.scope_matcher:
    class: Alpdesk\AlpdeskCore\Matcher\AlpdeskCoreRequestMatcher

  alpdeskcore.eventservice:
    class: Alpdesk\AlpdeskCore\Events\AlpdeskCoreEventService
    arguments:
      - '@event_dispatcher'
    public: true

  alpdeskcore.loggingservice:
    class: Alpdesk\AlpdeskCore\Logging\AlpdeskcoreLogger
    arguments:
      - '@contao.framework'
      - '%kernel.project_dir%'
      - '%kernel.environment%'
    public: true

  alpdeskcore.security.user_provider:
    class: Alpdesk\AlpdeskCore\Security\AlpdeskcoreUserProvider
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.loggingservice'

  alpdeskcore.security.token_authenticator:
    class: Alpdesk\AlpdeskCore\Security\AlpdeskcoreTokenAuthenticator
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.loggingservice'
      - '@alpdeskcore.security.user_provider'

  alpdeskcore.storage_adapter:
    class: Alpdesk\AlpdeskCore\Library\Storage\StorageAdapter
    arguments:
      - '@contao.filesystem.virtual.files'
      - '%kernel.project_dir%'
      - '%alpdesk_core.storage%'
    public: true

  Alpdesk\AlpdeskCore\Controller\Auth\AlpdeskCoreAuthController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
      - '@security.password_hasher_factory'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Plugin\AlpdeskCorePluginController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
      - '%kernel.project_dir%'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Filemanagement\AlpdeskCoreFilemanagementController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
      - '@alpdeskcore.storage_adapter'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Mandant\AlpdeskCoreMandantController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Events\Callbacks\DcaCallbacks:
    arguments:
      - '@alpdeskcore.eventservice'
      - '@request_stack'
      - '%kernel.project_dir%'
      - '@database_connection'
      - '@?logger'
    tags:
      - { name: contao.callback, table: tl_alpdeskcore_mandant_elements, target: fields.type.options, method: getMandantElements }
      - { name: contao.callback, table: tl_member, target: fields.alpdeskcore_elements.options, method: getMandantElements }
      - { name: contao.callback, table: tl_alpdeskcore_mandant_elements, target: list.sorting.child_record, method: addMandantElementType }
      - { name: contao.callback, table: tl_alpdeskcore_databasemanager, target: config.onload, method: databaseManagerOnLoad }
      - { name: contao.callback, table: tl_member, target: fields.alpdeskcore_crudTables.options, method: getCrudTables }

  Alpdesk\AlpdeskCore\Controller\Logs\AlpdeskcoreLogsController:
    arguments:
      - '@contao.csrf.token_manager'
      - '%contao.csrf_token_name%'
      - '@router'
      - '%kernel.project_dir%'
      - '@request_stack'
      - '@security.helper'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Database\AlpdeskcoreDatabaseController:
    arguments:
      - '%kernel.project_dir%'
      - '@request_stack'
      - '@security.helper'
    tags:
      - controller.service_arguments
