parameters:
  alpdesk_core.app_name: 'Alpdesk'
  alpdesk_core.url: 'https://alpdesk.de'

services:

  _defaults:
    autoconfigure: true
    autowire: true

  alpdeskcore.routing.scope_matcher:
    class: Alpdesk\AlpdeskCore\Security\Matcher\AlpdeskCoreRequestMatcher

  alpdeskcore.security.jwt:
    class: Alpdesk\AlpdeskCore\Security\Jwt\JwtToken
    arguments:
      - '%kernel.project_dir%'
      - '%alpdesk_core.app_name%'
      - '%alpdesk_core.url%'

  alpdeskcore.security.user_provider:
    class: Alpdesk\AlpdeskCore\Security\AlpdeskcoreUserProvider
    arguments:
      - '@contao.framework'
      - '@security.password_hasher_factory'
      - '@alpdeskcore.security.jwt'

  alpdeskcore.security.token_authenticator:
    class: Alpdesk\AlpdeskCore\Security\AlpdeskcoreTokenAuthenticator
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.loggingservice'
      - '@alpdeskcore.security.user_provider'
      - '@alpdeskcore.security.jwt'

  alpdeskcore.eventservice:
    class: Alpdesk\AlpdeskCore\Events\AlpdeskCoreEventService
    arguments:
      - '@event_dispatcher'
    public: true

  alpdeskcore.loggingservice:
    class: Alpdesk\AlpdeskCore\Logging\AlpdeskcoreLogger
    arguments:
      - '@contao.framework'
      - '%kernel.project_dir%'
      - '%kernel.environment%'
    public: true

  alpdeskcore.storage_adapter:
    class: Alpdesk\AlpdeskCore\Library\Storage\StorageAdapter

  alpdeskcore.storage_local:
    class: Alpdesk\AlpdeskCore\Library\Storage\Local\LocalStorage
    arguments:
      - '@contao.filesystem.virtual.files'
      - '%kernel.project_dir%'
    tags:
      - { name: 'alpdeskcore.storage', alias: 'local' }

  alpdeskcore.dca_utils:
    class: Alpdesk\AlpdeskCore\Library\Backend\AlpdeskCoreDcaUtils
    arguments:
      - '@alpdeskcore.security.user_provider'
    tags:
      - { name: contao.callback, table: tl_alpdeskcore_sessions, target: list.label.label, method: sessionsLabel }
      - { name: contao.callback, table: tl_member, target: fields.alpdeskcore_fixtoken.save, method: generateFixToken }
      - { name: contao.callback, table: tl_alpdeskcore_databasemanager, target: fields.password.save, method: generateEncryptPassword }
      - { name: contao.callback, table: tl_alpdeskcore_databasemanager, target: fields.password.load, method: regenerateEncryptPassword }

  Alpdesk\AlpdeskCore\Controller\Auth\AlpdeskCoreAuthController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
      - '@alpdeskcore.security.user_provider'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Plugin\AlpdeskCorePluginController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
      - '%kernel.project_dir%'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Filemanagement\AlpdeskCoreFilemanagementController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
      - '@alpdeskcore.storage_adapter'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Mandant\AlpdeskCoreMandantController:
    arguments:
      - '@contao.framework'
      - '@alpdeskcore.eventservice'
      - '@alpdeskcore.loggingservice'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Events\Callbacks\DcaCallbacks:
    arguments:
      - '@alpdeskcore.eventservice'
      - '@request_stack'
      - '%kernel.project_dir%'
      - '@database_connection'
      - '@?logger'
    tags:
      - { name: contao.callback, table: tl_alpdeskcore_mandant_elements, target: fields.type.options, method: getMandantElements }
      - { name: contao.callback, table: tl_member, target: fields.alpdeskcore_elements.options, method: getMandantElements }
      - { name: contao.callback, table: tl_alpdeskcore_mandant_elements, target: list.sorting.child_record, method: addMandantElementType }
      - { name: contao.callback, table: tl_alpdeskcore_databasemanager, target: config.onload, method: databaseManagerOnLoad }
      - { name: contao.callback, table: tl_member, target: fields.alpdeskcore_crudTables.options, method: getCrudTables }

  Alpdesk\AlpdeskCore\Controller\Logs\AlpdeskcoreLogsController:
    arguments:
      - '@contao.csrf.token_manager'
      - '%contao.csrf_token_name%'
      - '@router'
      - '%kernel.project_dir%'
      - '@request_stack'
      - '@security.helper'
    tags:
      - controller.service_arguments

  Alpdesk\AlpdeskCore\Controller\Database\AlpdeskcoreDatabaseController:
    arguments:
      - '%kernel.project_dir%'
      - '@request_stack'
      - '@security.helper'
    tags:
      - controller.service_arguments
