{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Logs
{% endblock %}

{% block error %}{% endblock %}

{% block main %}
    <div id="alpdeskcorelogs_backendcontainer">
        {{ msg }}
    </div>
{% endblock %}