{% extends "@Contao/be_main" %}

    {% block main %}

        <div id="alpdeskcorelogs_backendcontainer">
            <span id="alpdeskcorelogs_error">{{ errorMessage }}</span>
        </div>

    {% endblock %}