{% extends "@Contao/be_main" %}

{% block main_content %}

    <div id="alpdeskcorelogs_backendcontainer">
        <span id="alpdeskcorelogs_error">{{ errorMessage }}</span>
    </div>

{% endblock %}